@font-face {
  font-family: Material;
  src: url(assets/MaterialIconsOutlined-Regular.otf);
}

@font-face {
  font-family: SegoeIcons;
  src: url(assets/SegoeIcons.ttf);
}

@font-face {
  font-family: Flow;
  src: url(assets/FlowCircular-Regular.ttf);
}

::-webkit-scrollbar{
  display: none;
}

#editor { 
  position: absolute;
  top: 70px;
  right: 0;
  bottom: 25px;
  left: 0;
  font-size: 12pt;
  font-family: monospace;
}

#editor .ace_gutter {
  font-family: monospace;
}

.titlebar {
  height: 35px;
  user-select: none;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  position: fixed;
  left: 0;
  top: 0;
  width: 35px;
  height: 35px;
}

.titlebar-button {
  position: relative;
  align-items: center;
  float: right;
  width: 50px;
  height: 35px;
  border: none;
  background-color: transparent;
  font-family: SegoeIcons;
  font-weight: lighter;
  font-size: 10pt;
}

#titlebar-close:hover {
  background-color: rgb(255, 50, 50);
  color: white;
}

.nav-btns {
  position: relative;
  top: 5px;
  left: 40px;
  border: none;
  background-color: transparent;
  text-align: center;
  height: 25px;
  border-radius: 5px;
  font-size: 10pt;
}

.statusbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  height: 25px;
  z-index: 99;
}

#remote {
  position: relative;
  width: 40px;
  height: 25px;
  border: none;
  background-color: transparent;
  font-family: SegoeIcons;
  font-weight: lighter;
  font-size: 10pt;
  text-align: center;
}

#git-sync {
  position: relative;
  width: 30px;
  height: 25px;
  border: none;
  background-color: transparent;
  font-family: SegoeIcons;
  font-weight: lighter;
  font-size: 10pt;
  text-align: center;
}

#languages {
  position: relative;
  width: auto;
  height: 25px;
  border: none;
  float: right;
  background-color: transparent;
  font-weight: lighter;
  font-size: 10pt;
}

#tabs {
  position: relative;
  width: auto;
  height: 25px;
  border: none;
  float: right;
  background-color: transparent;
  font-weight: lighter;
  font-size: 10pt;
}

#counter {
  position: relative;
  height: 25px;
  width: auto;
  border: none;
  float: right;
  background-color: transparent;
  font-weight: lighter;
  font-size: 10pt;
  text-align: center;
}

#feedback {
  position: relative;
  width: 30px;
  height: 25px;
  float: right;
  border: none;
  background-color: transparent;
  font-family: SegoeIcons;
  font-weight: lighter;
  font-size: 10pt;
  text-align: center;
}

#breadcrumbs {
  position: fixed;
  left: 50%;
  height: 25px;
  top: 5px;
  width: 35%;
  transform: translate(-50%, 0%);
  border-radius: 5px;
}

.crumb {
  height: 100%;
  width: auto;
  margin-right: 5px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

#table {
  position: fixed;
  top: 35px;
  left: 0;
  right: 0;
  background: transparent;
  height: 35px;
  margin: 0;
}

.tab {
  height: 100%;
  width: 120px;
  background-color: transparent;
  margin: 0;
  border: none;
}