@font-face {
  font-family: Material;
  src: url(assets/MaterialIconsOutlined-Regular.otf);
}

@font-face {
  font-family: SegoeIcons;
  src: url(assets/SegoeIcons.ttf);
}


#editor { 
  position: absolute;
  top: 35px;
  right: 0;
  bottom: 25px;
  left: 0;
  font-size: 12pt;
}

.titlebar {
  height: 35px;
  user-select: none;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  position: fixed;
  left: 0;
  top: 0;
  width: 35px;
  height: 35px;
}

.titlebar-button {
  position: relative;
  align-items: center;
  float: right;
  width: 50px;
  height: 35px;
  border: none;
  background-color: transparent;
  font-family: SegoeIcons;
  font-weight: lighter;
  font-size: 10pt;
}

#titlebar-close:hover {
  background-color: rgb(255, 50, 50);
  color: white;
}

.nav-btns {
  position: relative;
  top: 5px;
  left: 40px;
  border: none;
  background-color: transparent;
  text-align: center;
  height: 25px;
  border-radius: 5px;
  font-size: 10pt;
}

.statusbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-flex;
  height: 25px;
  z-index: 99;
}